table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #0897af;
    color: white;
}